<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=JORGE-PC; Initial Catalog=BACKOFFICE; User Id=itbcp; Password=20522513386; Connection Timeout=30" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <appSettings>
    <add key="IpFusion" value="192.168.1.20" />
    <add key="GetSaleInterval" value="5" />
    <add key="01" value="G84" />
    <add key="02" value="G90" />
    <add key="03" value="G95" />
    <add key="04" value="G97" />
    <add key="05" value="DIESEL" />
    <add key="07" value="GLP" />
    <add key="GR" value="GR" />
    <add key="GP" value="GP" />
  </appSettings>
</configuration>